.program-eat {
  color: $white;
  text-transform: uppercase;
  background-color: $green;
}

.program-eat__title {
  width: 249px;
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: normal;
  font-weight: normal;
  color: $white;
}

.program-eat__slogan {
  font-size: 14px;
  line-height: normal;
}

.program-eat__button {
  font-size: 14px;
  line-height: 18px;
  color: $white;

  &:hover {
    background-color: $darker-green;
  }

  &:focus {
    color: $white-opacity-30;
  }
}
