.program-version__type {
  background-color: $basic_grey;
}

.sliming {
  position: relative;
}

.program-version__title {
  font-size: 24px;
  line-height: 37px;
  margin-left: 100px;

  &--sliming::before {
    content: "";
    position: absolute;
    left: 25px;
    width: 50px;
    height: 53px;
    background-image: url("../../img/slim_cat.svg");
    background-repeat: no-repeat;
  }

  &--fat::before{
    content: "";
    position: absolute;
    left: 25px;
    width: 67px;
    height: 50px;
    background-image: url("../../img/fat_cat.svg");
    background-repeat: no-repeat;
  }
}

.program-version__description {
  font-size: 14px;
  line-height: 18px;
}

.program-version__button {
  width: 134px;
  height: 10px;
  font-size: 16px;
  line-height: 16px;
  color: $black;

  &::before {
    content: "";
    position: absolute;
    left: 105px;
    width: 32px;
    height: 10px;
    background-image: url("../../img/arrow_button.svg");
    background-repeat: no-repeat;
  }
}

