.program-version__type {
  height: 100%;
  background-color: $basic_grey;
}

.program-type {
  position: relative;
  margin-bottom: 20px;
}

.program-version__title {
  position: relative;
  padding-top: 30px;
  font-size: 24px;
  line-height: 37px;
  margin-left: 100px;

  &::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    top: 21px;
    left: -80px;
    height: 50px;
  }

  &--sliming::before {
    width: 50px;
    background-image: url("../img/slim_cat.svg");
    background-repeat: no-repeat;
  }

  &--fat::before {
    width: 67px;
    background-image: url("../img/fat_cat.svg");
    background-repeat: no-repeat;
  }
}

.program-version__description {
  padding-right: 33px;
  padding-left: 20px;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
}

.program-version__button {
  position: relative;
  padding-left: 20px;
  width: 134px;
  height: 10px;
  font-size: 16px;
  line-height: normal;
  color: $black;
  text-decoration: none;
  background-color: $basic_grey;

  &::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    left: 120px;
    width: 32px;
    height: 10px;
    background-image: url("../../img/arrow_button.svg");
    background-repeat: no-repeat;
  }
}
