.program-example {
  background-color: $light-grey;
}

.program-example__title {
  padding-top: 27px;
  font-size: 36px;
  line-height: 40px;
}

.program-example__text {
  padding-right: 2px;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
}

.example__index {
  width: 124px;
  min-height: 64px;
  padding-bottom: 26px;
}

.index__number {
  padding-left: 30px;
  margin-bottom: 14px;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
}

.index__description {
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;
}

.program-example-cost__text {
  margin-left: 40px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.controls__index {
  text-transform: uppercase;
}
