.program-version {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;

  @media (min-width: $desktop-width) {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.program-version__type {
  margin-bottom: 20px;
  height: 100%;
  background-color: $basic_grey;
}

.program-type {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  position: relative;
}

.program-version__title {


  padding-top: 30px;
  font-size: 24px;
  line-height: 37px;

  text-transform: uppercase;

  &::before {
    content: "";
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    top: 21px;
    left: -69px;
    height: 53px;
  }

  &--sliming::before {
    width: 50px;
    background-image: url("../img/slim_cat.svg");
    background-repeat: no-repeat;
  }

  &--fat::before {
    width: 67px;
    background-image: url("../img/fat_cat.svg");
    background-repeat: no-repeat;
  }
}

.program-version__description {
  margin-top: 29px;
 padding-left: 20px;
  padding-right: 17px;
  font-size: 14px;
  line-height: 19px;
  color: $special_dark-grey;
  border-bottom: 1px solid $border-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.program-version__button {
  display: flex;
  align-items: center;
  padding: 18px 0 19px 20px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;
  background-color: $basic_grey;

  &:active {
    opacity: 0.3;
  }
}

.program-version__button-image {
     margin-left: 15px;
}
