.program-version {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.program-version__type {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  position: relative;
  margin-bottom: 20px;
  height: 100%;
  background-color: $basic_grey;
}

.program-version__title {
  display: flex;
  align-items: center;
  margin-top: 22px;
  margin-left: 23px;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: block;
    position: relative;
    margin-top: 78px;
    margin-left: 52px;
    width: 400px;
    font-size: 36px;
    line-height: 40px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    margin-top: 43px;
  }

  &::before {
    content: "";
    display: block;
    padding-right: 68px;
    height: 53px;

    @media (min-width: $tablet-width) {
      position: absolute;
    }

    @media (min-width: $desktop-width) {
      position: static;
      display: block;
      padding-right: 62px;
    }
  }

  &--sliming::before {
    width: 50px;
    background-image: url("../img/slim_cat.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      top: 5px;
      left: 393px;
      width: 200px;
      height: 211px;
      background-image: url("../img/slim_tablet_cat.svg");
    }

    @media (min-width: $desktop-width) {
      top: 0;
      left: 0;
      width: 100px;
      height: 106px;
      background-image: url("../img/slim_desktop_cat.svg");
    }
  }

  &--fat {
    margin-left: 12px;

    @media (min-width: $tablet-width) {
      margin-left: 52px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 35px;
      margin-top: 48px;
    }

    &::before {
      margin-right: 12px;
      width: 67px;
      height: 50px;
      background-image: url("../img/fat_cat.svg");
      background-repeat: no-repeat;

      @media (min-width: $tablet-width) {
        top: 15px;
        left: 361px;
        width: 268px;
        height: 200px;
        background-image: url("../img/fat_tablet_cat.svg");
      }

      @media (min-width: $desktop-width) {
        margin-right: 45px;
        top: 0;
        left: 0;
        width: 134px;
        height: 100px;
        background-image: url("../img/fat_desktop_cat.svg");
      }
    }
  }
}

.program-version__description {
  margin-top: 22px;
  padding-left: 20px;
  padding-right: 17px;
  font-size: 14px;
  line-height: 19px;
  color: $special_dark-grey;
  border-bottom: $border-line-grey;

  @media (min-width: $tablet-width) {
    padding-left: 52px;
    padding-right: 0;
    width: 424px;
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    width: 514px;
    margin-top: 39px;
  }

  &--fat-text {
    @media (min-width: $tablet-width) {
      width: 392px;
    }

    @media (min-width: $desktop-width) {
      width: 514px;
    }
  }
}

.program-version__button {
  display: flex;
  align-items: center;
  padding: 18px 0 19px 20px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;
  background-color: $basic_grey;

  @media (min-width: $tablet-width) {
    padding: 33px 0 54px 53px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 6px;
    padding-bottom: 58px;
  }

  &:active {
    opacity: 0.3;
  }
}

.program-version__button-image {
  margin-left: 15px;

  @media (min-width: $tablet-width) {
    margin-left: 24px;
  }
}
