.program-eat {
  background-color: $green;
}

.program-eat__title {
  font-size: 33px;
  line-height: 40px;
  text-align: center;
}

.program-eat__slogan {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: $white;
}

.program-eat__button {
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .program-eat__title {
    font-size: 60px;
    line-height: 64px;
    color: $black;
    text-align: justify;
  }

  .program-eat__slogan {
    font-size: 20px;
    line-height: 24px;
    color: $black;
    text-align: justify;
  }

  .program-eat__button {
    font-size: 20px;
    line-height: 24px;
  }
}
