.program-description__title {
  margin-bottom: 38px;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    font-size: 60px;
    line-height: 60px;
  }
}

.program-description__list {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    align-items: flex-end;
    gap: 37px;
    height: 280px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    font-size: 16px;
    line-height: 24px;
  }
}

.program-description__item {
  position: relative;
  width: 198px;
  height: 54px;
  margin-left: 80px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  &::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    left: -80px;
    width: 60px;
    height: 60px;

    @media (min-width: $tablet-width) {
      top: -65px;
      left: 0;
    }
  }

  &--nutritional::before {
    background-image: url("../img/nutritional_icon.svg");
    background-repeat: no-repeat;
  }

  &--fast::before {
    background-image: url("../img/fast_icon.svg");
    background-repeat: no-repeat;
  }

  &--economy::before {
    background-image: url("../img/economy_icon.svg");
    background-repeat: no-repeat;
  }

  &--changes::before {
    background-image: url("../img/changes_icon.svg");
    background-repeat: no-repeat;
  }
}
