.program-version {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.program-version__type {
  margin-bottom: 20px;
  height: 100%;
  background-color: $basic_grey;
}

.program-type {
  position: relative;
  margin-top: 22px;
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}

.program-version__title {
  position: relative;
  padding-top: 30px;
  font-size: 24px;
  line-height: 37px;
  margin-left: 100px;

  &::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    top: 21px;
    left: -80px;
    height: 50px;
  }

  &--sliming::before {
    width: 50px;
    background-image: url("../img/slim_cat.svg");
    background-repeat: no-repeat;
  }

  &--fat::before {
    width: 67px;
    background-image: url("../img/fat_cat.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 36px;
    line-height: 40px;
  }
}

.program-version__description {
  padding: 29px 33px 23px 20px;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
  border-bottom: 1px solid $border-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.program-version__button {
  display: block;
  position: relative;
  padding: 19px 0 22px 20px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;
  background-color: $basic_grey;

  &:active {
    opacity: 0.3;
  }
}
