.program-eat {
  background-color: $green;
}

.program-eat__title {
  padding-top: 25px;
  font-size: 36px;
  line-height: 39px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 64px;
    color: $black;
    text-align: justify;
  }
}

.program-eat__slogan {
  margin-top: 21px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: $white;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    color: $black;
    text-align: justify;
  }
}

.program-eat__image {
  margin-top: 15px;
}

.program-eat__button {
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}
