.program-description__title {
  margin-bottom: 38px;
  font-size: 36px;
  line-height: 40px;
}

.program-description__list {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
}

.program-description__item {
  position: relative;
  width: 198px;
  height: 54px;
  margin-left: 80px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;

  &::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    left: 5px;
    width: 60px;
    height: 60px;
  }

  &--nutritional::before {
    background-image: url("../img/nutritional_icon.svg");
    background-repeat: no-repeat;
  }

  &--fast::before {
    background-image: url("../img/fast_icon.svg");
    background-repeat: no-repeat;
  }

  &--economy::before {
    background-image: url("../img/economy_icon.svg");
    background-repeat: no-repeat;
  }

  &--changes::before {
    background-image: url("../img/changes_icon.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .program-description__title {
    margin-bottom: 0;
    font-size: 60px;
    line-height: 60px;
  }

  .program-description__list {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 37px;
    padding: 28px 0 0 0;
    font-size: 16px;
    line-height: 24px;

    .program-description__item {
      display: block;
      position: relative;
      margin-top: 32px;
      margin-right: 137px;
    }
  }
}
