.program-eat__content-wrapper {
  background-image: url("../img/cat_background.jpg"),
    linear-gradient($green-opacity-85, $green-opacity-85);
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 302px;
  width: 100%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/cat_background@2x.jpg");
    background-size: 320px 302px;
    background-color: $green-opacity-85;
  }

  @media (min-width: $tablet-width) {
    background-color: transparent;
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    z-index: 2;
  }
}

.program-eat__title {
  padding-top: 25px;
  font-size: 36px;
  line-height: 39px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 64px;
    color: $black;
    text-align: justify;
    padding-top: 57px;
    padding-left: 88px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 106px;
    padding-left: 80px;
  }
}

.program-eat__slogan {
  margin-top: 21px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: $white;

  @media (min-width: $tablet-width) {
    margin-top: 33px;
    padding-left: 88px;
    font-size: 20px;
    line-height: 24px;
    color: $black;
    text-align: justify;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
  }
}

.program-eat__wrapper {
  position: relative;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 5px;
    min-height: 572px;
  }

  @media (min-width: $desktop-width) {
    min-height: 315px;
  }
}

.program-eat__image {
  position: absolute;
  top: -274px;
  width: 280px;
  height: 270px;

  @media (min-width: $tablet-width) {
    top: -29px;
    width: 709px;
    height: 609px;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    --container-block-padding: 448px;
    top: -315px;
    left: calc(50% - var(--container-padding) + var(--content-area-padding) +
        var(--container-block-padding));
    width: 552px;
    height: 499px;
    z-index: 1;
  }
}

.program-eat__button {
  font-size: 14px;
  line-height: 18px;
  margin-top: 138px;

  @media (min-width: $tablet-width) {
    margin-top: -12px;
    margin-left: 82px;
    width: max-content;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 40px;
    margin-left: 80px;
  }
}
