.contact-user {
  position: relative;
}

.contact-user__title {
  margin-top: 26px;
  font-weight: inherit;
  font-size: 24px;
  line-height: 26px;

  &::before {
    content: "";
    position: absolute;
    top: 40px;
    right: -55%;
    width: 100%;
    border: 2px solid $basic_green;
    background-color: $basic_green;
  }
}

.contact-user__label {
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey;
  text-transform: uppercase;
}

.contact-user__input {
  display: block;
  height: 45px;
  font-family: inherit;
  color: $special_dark-grey;
  border: 1px solid $darker-grey;
}

.contact-mail {
  width: 219px;
}

.contact-tel {
  width: 204px;
}
