.filter {
  border: none;

  @media (min-width: $tablet-width) {
    width: 620px;
    border: $border-input-grey;
  }

  @media (min-width: $desktop-width) {
    margin-top: 25px;
    width: 570px;
    height: 196px;
  }
}
