.filter {
  border: none;

  @media (min-width: $tablet-width) {
    padding-left: 27px;
    border: $border-input-grey;
  }

  @media (min-width: $desktop-width) {
    min-width: 570px;
    min-height: 170px;
    border: none;
  }

  &--border {
    border: none;
    min-width: auto;
    min-height: auto;
    padding-left: 0;
  }
}

.filter__item {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $form-black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &:first-child {
    margin-top: 20px;

    @media (min-width: $tablet-width) {
      margin-top: 25px;
    }
  }

  &:last-child {
    padding-bottom: 17px;

    @media (min-width: $tablet-width) {
      padding-bottom: 21px;
    }
  }

  &:disabled {
    opacity: 0.3;
  }

  &--extra {
    &:first-child {
      margin-top: 0;
    }
  }
}

.filter__label {
  display: flex;
  align-items: center;
  margin-top: 14px;

  &::before {
    content: "";
    display: block;
    margin-right: 16px;
    width: 30px;
    height: 30px;
    border: $border-input-hover;

    @media (min-width: $tablet-width) {
      margin-right: 19px;
      width: 40px;
      height: 40px;
    }
  }

  &--radio {
    &::before {
      border-radius: 50%;
    }
  }

  &--checkbox {
    margin-top: 12px;

    &::before {
      border-radius: 2px;
    }
  }
}

.filter__input:checked + .filter__label {
  position: relative;

  &::after {
    content: "";
    position: absolute;
  }

  &--radio::after {
    top: 8px;
    left: 8px;
    width: 14px;
    height: 14px;
    background-color: $basic_green;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      top: 11px;
      left: 11px;
      width: 18px;
      height: 18px;
    }
  }

  &--checkbox::after {
    left: 6px;
    top: 7px;
    width: 16px;
    height: 8px;
    border-left: $border-line-green;
    border-bottom: $border-line-green;
    transform: rotate(-45deg);

    @media (min-width: $tablet-width) {
      left: 12px;
      top: 15px;
    }
  }
}

.filter__input:hover + .filter__label::before {
  border-color: $border-darker-grey;
}

.filter__input:focus + .filter__label::before {
  border-color: $border-darker-grey;
  box-shadow: 0 3px 3px 0 $border-darker-grey;
}

.filter__input:disabled + .filter-label::before {
  opacity: 0.3;
}
