.form {
  display: flex;
  flex-direction: column;
}

.form__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-around;
    margin-right: auto;
    margin-left: auto;
  }
}

.form__program-border-wrapper {
  border: $border-line-grey;
  border-left: none;
  border-right: none;

  @media (min-width: $tablet-width) {
    border: none;
  }

  @media (min-width: $desktop-width) {
    border: $border-input-grey;
  }
}

.form__main-user {
  margin-top: 26px;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-right: 81px;
  }
}

.form__program-filter {
  @media (min-width: $tablet-width) {
    margin-top: 72px;
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.form__extra-filter {
  overflow-x: hidden;
}
