.form-info__description {
  display: flex;
  align-items: center;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
    margin-right: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  &--contact {
    @media (min-width: $desktop-width) {
      margin-right: 30px;
      margin-bottom: 0;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: auto;
    }
  }
}

.form-info__input {
  width: 100%;
  flex-shrink: 5000;
  padding-left: 15px;
  height: 45px;
  border: $border-input-grey;

  @media (min-width: $tablet-width) {
    height: 52px;
    font-size: 20px;
    line-height: 30px;
  }

  &::placeholder {
    font-family: inherit;
    color: $special_dark-grey;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  &:hover,
  &:focus {
    border: $border-input-hover;
  }

  &:active {
    border: $border-input-active;
  }

  &:disabled {
    border: $border-input-disabled;
  }

  &--weight {
    @media (min-width: $tablet-width) {
      padding-left: 21px;
    }
  }

  &--age {
    @media (min-width: $tablet-width) {
      padding-left: 18px;
    }
  }

  &--contact {
    padding-left: 13px;

    @media (min-width: $tablet-width) {
      padding-left: 14px;
    }
  }

  &--mail {
    margin-top: 3px;

    @media (min-width: $tablet-width) {
      padding-left: 20px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 11px;
    }
  }
}

.form-info__label {
  margin-right: 14px;
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-right: 20px;
    font-size: 20px;
    line-height: 30px;
  }

  &--contact {
    margin-right: 11px;

    @media (min-width: $tablet-width) {
      margin-right: 20px;
    }
  }

  &--contact-tel {
    @media (min-width: $desktop-width) {
      padding-left: 39px;
    }
  }
}
