.form__main-user {
  font-family: inherit;
  text-transform: uppercase;
}

.main-user__name {
  width: 228px;
}

.main-user__weight {
  margin-left: 15px;
  width: 191px;
}

.main-user__age {
  width: 172px;
}
