.form__main-user {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  border: none;
}

.main-user__name {
  width: 229px;
}

.main-user__weight {
  width: 204px;
}

.main-user__age {
  width: 172px;
}
