.form__program-filter {
  border: 1px solid $border-grey;
  border-left: none;
  border-right: none;
}

.filter__option {
  display: block;
  padding-left: 46px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $form-black;

  &:disabled {
    opacity: 0.3;
  }

  &:last-child {
    padding-bottom: 28px;
  }
}

.filter__option label {
  display: block;
  position: relative;
  margin-top: 20px;
}

.filter-radio__input + label::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: -6px;
  left: -45px;
  width: 30px;
  height: 30px;
  border: 1px solid $darker-grey;
  border-radius: 50%;
}

.filter-radio__input:checked + label::after {
  content: "";
  position: absolute;
  top: 1px;
  left: -37px;
  width: 14px;
  height: 14px;
  background-color: $basic_green;
  border-radius: 50%;
}

.filter-radio__input:hover + label::before {
  border-color: $border-darker-grey;
}

.filter-radio__input:disabled + label::before {
  border-color: $border-darker-grey;
  opacity: 0.3;
  pointer-events: none;
}
