.user-comment {
  font-size: 24px;
  line-height: 26px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    font-size: 36px;
    line-height: 40px;
  }
}

.user-comment__label {
  margin-top: 23px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 40px;
  }
}

.user-comment textarea {
  width: 280px;
  height: 150px;
  margin-top: 37px;
  margin-bottom: 23px;
  padding-top: 13px;
  padding-left: 15px;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey;
  text-transform: uppercase;
  resize: none;
  border: $border-input-grey;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
    width: 631px;
    height: 174px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}
