.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey;

  &:active {
    color: $black-opacity-30;
  }
}

.copyright__text {
  margin-right: 22px;
}

.copyright__text-design {
  text-transform: uppercase;
}

.copyright__image {
  fill: $black-icon;
}

.copyright__link:hover .copyright__image,
.copyright__link:focus .copyright__image {
  fill: $basic_green;
}

.copyright__link:active .copyright__image {
  opacity: 0.3;
}
