.page-footer__contacts {
  &--white {
    background-color: $white;
  }
}

.contacts__title {
  width: 140px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.contacts__text {
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: $special_dark-grey;
}
