.social__icon {
  color: $black-icon;

  &:hover {
    color: $basic_green;
  }

  &:focus {
    color: $light-green;
  }
}

.copyright__link {
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey;

  &:focus {
    color: $black-opacity-30;
  }
}

.copyright__text-design {
  text-transform: uppercase;
}
