.social {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  border-top: $border-line-grey;
  border-bottom: $border-line-grey;

  @media (min-width: $tablet-width) {
    padding-top: 18px;
    border-top: none;
    border-bottom: none;
  }
}

.social__list {
  display: flex;
  min-width: 130px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    padding-left: 43px;
    border: none;
  }
}

.social__item {
  @media (min-width: $tablet-width) {
    margin-right: 20px;
  }
}

.social__icon {
  color: $black-icon;

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 22px;
  }

  &--instagram {
    @media (min-width: $tablet-width) {
      width: 33px;
      height: 23px;
    }
  }

  &--facebook {
    @media (min-width: $tablet-width) {
      width: 28px;
      height: 33px;
    }
  }
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  color: $basic_green;
}

.social__link:active .social__icon {
  color: $light-green;
}
