.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  --content-area: 320px;
  --container-padding: calc((var(--content-area)) / 2);
  --content-area-padding: 20px;
  --container-width: calc(50% - var(--container-padding) + var(--content-area-padding));
  padding: 0 var(--container-width);

  @media (min-width: $tablet-width) {
    --content-area: 768px;
    --content-area-padding: 30px;
  }

  @media (min-width: $desktop-width) {
    --content-area: 1280px;
    --content-area-padding: 30px;
  }
}

.center {
  @media (min-width: $tablet-width) {
    padding: 0 calc(50% - 354px);
  }

  @media (min-width: $desktop-width) {
    padding: 0 calc(50% - 610px);
  }
}

.center-menu {
  padding: 0 calc(50% - 140px);

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

//style

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title {
  margin: 0;
  font-weight: 400;
  color: $black;

  &--white {
    color: $white;
  }
}

.text {
  font-family: "Arial", sans-serif;
}

.form-border {
  border: none;
}

.indents-to-zero {
  margin: 0;
  padding: 0;
}

.fieldset-indent {
  margin: 0;
}

.image-normalize {
  vertical-align: middle;
}

//context-line

.context-line {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    margin-left: -33px;
    top: 50%;
    width: 100vw;
    height: 2px;
    left: 100%;
    background-color: $basic_green;

    @media (min-width: $tablet-width) {
      z-index: -1;
      left: -1000%;
      right: -1000%;
      width: auto;
    }
  }

  &--form {
    &::before {
      margin-left: -80px;
      top: 15px;

      @media (min-width: $tablet-width) {
        top: 23px;
      }
    }
  }

  &--comment {
    &::before {
      margin-left: 21px;
      top: 15px;

      @media (min-width: $tablet-width) {
        top: 22px;
      }
    }
  }

  &--extra {
    &::before {
      margin-left: 21px;
      top: 20px;

      @media (min-width: $tablet-width) {
        top: 30px;
      }
    }
  }
}

.context-name {
  display: inline-block;

  @media (min-width: $tablet-width) {
    margin-left: -40px;
    padding: 0 38px;
    background-color: $white;
  }

  &--form {
    padding-right: 80px;

    @media (min-width: $tablet-width) {
      padding-right: 38px;
    }
  }
}

//button

.button {
  display: block;
  padding: 11px 44px;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  background-color: $basic_green;
  border: none;

  &:hover,
  &:focus {
    background-color: $darker-green;
  }

  &:active {
    color: $white-opacity-30;
  }

  @media (min-width: $tablet-width) {
    padding: 14px 26px;
  }
}
