.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  --content-area: 320px;
  --container-padding: calc((var(--content-area)) / 2);
  --content-area-padding: 20px;
  padding: 0 calc(50% - var(--container-padding) + var(--content-area-padding));

  @media (min-width: $tablet-width) {
    --content-area: 768px;
    --content-area-padding: 30px;
  }

  @media (min-width: $desktop-width) {
    --content-area: 1220px;
    --content-area-padding: 110px;
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title {
  margin: 0;
  font-weight: 400;
  color: $black;

  &--white {
    color: $white;
  }
}

.text {
  font-family: "Arial", sans-serif;
}

.button {
  display: block;
  min-width: 280px;
  padding: 7px 44px;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  background-color: $basic_green;
  border: none;

  &:hover,
  &:focus {
    background-color: $darker-green;
  }

  &:active {
    color: $white-opacity-30;
  }

  @media (min-width: $tablet-width) {
    width: 244px;
    padding: 14px 26px;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
  }
}

.form-border {
  border: none;
}

.indents-to-zero {
  margin: 0;
  padding: 0;
}
