.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: $black;
}

.text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  color: $special_dark-grey;
}

.button {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}
