$black: #000000;
$special_dark-grey: #444444;
$basic_grey: #F2F2F2;
$light-grey: #EAEAEA;
$basic_green: #68B738;
$light-green: rgba(#68B738, 0.3);
$green: rgba(#68B738, 0.85);
$darker-green: #5EAA2F;
$red: #FF8282;
$white: #FFFFFF;
$white-opacity-30: rgba(#FFFFFF, 0.3);
