// Colors

$black: #000000;
$black-text: #111111;
$special_dark-grey: #444444;
$black-opacity-30: rgba(#444444, 0.3);
$black-icon: #666666;
$form-black: #222222;
$grey: #d3d3d3;
$basic_grey: #f2f2f2;
$light-grey: #eaeaea;
$lighter-grey: #e7e7e7;
$darker-grey: #cdcdcd;
$border-grey: #d9d9d9;
$block-border-grey: #e6e6e6;
$border-lighter-grey: #ebebeb;
$border-darker-grey: #bababa;
$shadow-grey: rgba(0, 0, 0, 0.2);
$range-grey: #dcdcdc;
$basic_green: #68b738;
$light-green: rgba(#68b738, 0.3);
$green-opacity-85: rgba(#68b738, 0.85);
$darker-green: #5eaa2f;
$red: #ff8282;
$white: #ffffff;
$white-opacity-30: rgba(#ffffff, 0.3);
$black-shadow: rgba(#000000, 0.16);

// Viewports

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1280px;
$mobile-width-only: 767px;

// Border

$border-input-grey: 1px solid $lighter-grey;
$border-input-hover: 1px solid $darker-grey;
$border-input-active: 2px solid $special_dark-grey;
$border-input-disabled: 2px solid $red;
$border-line-grey: 1px solid $border-grey;
$border-line-green: 2px solid $basic_green;
$border-menu: 1px solid $block-border-grey;
$border-line-lighter-grey: 1px solid $border-lighter-grey;
$border-range: 13px solid $white;
$border-range-active: 1px solid $basic-green;
$border-dotted: 1px dotted $black;
$border-solid: 1px solid $black;

//image variable

$density-pixel: 2dppx;

//slide

:root {
  --slide-shift: 0;
  --slide-width: 320px;
  --range-position: 5px;
  --range-position-left: 5px;
  --range-position-right: 43px;

  @media (min-width: $tablet-width) {
    --slide-shift: 353px;
    --slide-width: 690px;
    --range-position: 201px;
    --range-position-left: 0;
    --range-position-right: 394px;
  }

  @media (min-width: $desktop-width) {
    --slide-shift: 323px;
    --range-position: 191px;
  }
}
