.page-main--form .container {
  overflow-x: hidden;

  @media (min-width: $tablet-width) {
    padding: 0 39px;
  }
}

.page-main__wrapper {
  display: flex;
  flex-direction: column;
  border-top: $border-line-grey;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.page-main__catalog-title {
  margin-bottom: 41px;
}

.page-main__title {
  margin-top: 27px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 64px;
  }
}

.page-main__text {
  margin-top: 37px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-top: 54px;
    font-size: 20px;
    line-height: 30px;
  }
}
