.page-main--form .container {
  overflow-x: hidden;

  @media (min-width: $tablet-width) {
    --content-area-padding: 70px;
  }

  @media (min-width: $desktop-width) {
    --content-area: 1280px;
    --content-area-padding: 30px;
  }
}

.page-main__wrapper {
  display: flex;
  flex-direction: column;
  border-top: $border-line-grey;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.page-main__catalog-title {
  margin-bottom: 36px;
}

.page-main__title {
  margin-top: 25px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin-top: 59px;
    font-size: 60px;
    line-height: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 72px;
  }
}

.page-main__text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-top: 12px;
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 13px;
  }
}
