.page-header {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  position: relative;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: flex-end;
    font-weight: 400;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    --left-position: calc(100% - 1280px / 2 - (100% - 1280px) / 2);
    font-size: 20px;
    line-height: 30px;

    &::before {
      content: url("../img/cat_background_desktop.jpg");
      position: absolute;
      top: 0;
      left: var(--left-position);
      width: 720px;
      height: 640px;
      background-color: $green-opacity-85;
    }
  }
}

.page-header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 13px;

  @media (min-width: $tablet-width) {
    width: 174px;
  }
}

.page-header__logo {
  height: 38px;

  @media (min-width: $desktop-width) {
    margin-top: 54px;
  }
}

.page-header__toogle-wrapper {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    width: 24px;
    height: 2px;
    background-color: $white;
    box-shadow: 0 2px 0 0 $black, 0 10px 0 0 $black, 0 18px 0 0 $black;
    z-index: 1;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__toogle {
  position: relative;
  display: block;
  width: 42px;
  min-height: 30px;
  background-color: $white;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header--opened .page-header__toogle-wrapper {
  &::before {
    display: none;
  }
}

.page-header .main-navigation {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.page-header--opened .main-navigation {
  @media (max-width: $mobile-width-only) {
    display: block;
  }
}

.page-header--opened .page-header__toogle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 13px;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: $black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.page-header--nojs .page-header__toogle-wrapper {
  display: none;
}

.page-header--nojs .main-navigation {
  display: block;
}
