.catalog__list {
  border-top: $border-line-lighter-grey;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 140px;
    column-gap: 60px;
    margin: 0 auto 68px auto;
    width: max-content;
    border: none;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    margin-bottom: 72px;
  }
}

.catalog__item {
  border-bottom: $border-line-lighter-grey;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.catalog__item-content {
  display: grid;
  grid-template-rows: min-content min-content min-content;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 0 38px;
    background-color: $basic_grey;
    border: none;
  }

  @media (min-width: $desktop-width) {
    max-width: 245px;
  }
}

.catalog__image {
  grid-column: 1/2;
  grid-row: 1/3;
  margin: auto;

  @media (min-width: $tablet-width) {
    position: relative;
    top: 15px;
  }
}

.catalog__image-product {
  @media (min-width: $tablet-width) {
    width: 161px;
    height: 172px;
  }
}

.catalog__title {
  display: block;
  padding-right: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $form-black;
  text-transform: uppercase;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.catalog__index {
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    color: $special_dark-grey;
  }
}

.catalog__group {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding-top: 7px;
    padding-bottom: 9px;
    border-bottom: $border-input-hover;
  }
}

.catalog__button {
  grid-row: 3/4;
  grid-column: 1/3;
  margin-bottom: 14px;
}
