.catalog-extra {
  overflow: hidden;

}

.catalog-extra__wrapper {
  margin-top: 31px;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    margin-top: 76px;
  }
}

.catalog-extra__name {
  margin-top: 24px;
  margin-bottom: 29px;
  padding-right: 22px;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    padding-left: 38px;
    padding-right: 35px;
    font-size: 36px;
    line-height: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.catalog-extra__list {
  @media (min-width: $tablet-width) {
    margin-top: 76px;
    border: $border-input-hover;
  }

  @media (min-width: $desktop-width) {
    min-width: 894px;
    margin-top: 0;
    margin-bottom: 86px;
    border-left: none;
    border-right: none;
  }
}

.catalog-extra__item {
  border-top: $border-input-hover;

  &:last-child {
    border-bottom: $border-input-hover;

    @media (min-width: $tablet-width) {
      border-bottom: none;
    }
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    border-bottom: none;
    padding: 15px 38px;

    &:first-child {
      border-top: none;
    }
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr min-content;
    grid-template-rows: min-content;
    padding: 0;
  }
}

.catalog-extra__title {
  padding-top: 10px;
  padding-bottom: 9px;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/3;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.catalog-extra__title-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $form-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.catalog-extra__index {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    padding-top: 14px;
    font-size: 16px;
    line-height: 20px;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1/3;
    align-items: center;
    margin: 0;
  }
}

.catalog-extra__description {
  @media (min-width: $tablet-width) {
    padding-right: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    padding-bottom: 10px;
  }
}

.catalog-extra__value {
  @media (min-width: $desktop-width) {
    padding-bottom: 5px;
    text-align: center;
  }
}

.catalog-extra__button {
  margin-top: 12px;
  margin-bottom: 18px;
  color: $white;

  &:hover,
  &:focus {
    background-color: $darker-green;
  }

  &:active {
    color: $white-opacity-30;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-row: 2/3;
    grid-column: 1/3;
    align-items: center;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-bottom: 12px;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    grid-column: 3/4;
    min-width: 244px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
