.catalog-promotion {
  position: relative;
  margin-top: 36px;
  margin-bottom: 35px;
  width: 280px;
  height: 289px;
  background-image: url("../img/gift_cat.png");

  @media (min-resolution: $density-pixel) {
    background-image: url("../img/gift_cat@2x.png");
    background-size: 280px 289px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 69px;
    margin-bottom: 4px;
    width: 708px;
    height: 200px;
    background-image: url("../img/gift_cat_tablet.png");

    @media (min-resolution: $density-pixel) {
      background-image: url("../img/gift_cat_tablet@2x.png");
      background-size: 708px 200px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-bottom: 86px;
    width: 245px;
    height: 289px;
    background-image: url("../img/gift_cat_desktop.png");

    @media (min-resolution: $density-pixel) {
      background-image: url("../img/gift_cat_desktop@2x.png");
      background-size: 245px 289px;
    }
  }
}

.catalog-promotion__slogan {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-align: center;

  &::before {
    content: "";
    display: block;
    margin-top: 58px;
    margin-bottom: 49px;
    width: 78px;
    height: 80px;
    background-image: url("../img/gift_catalog.svg");

    @media (min-width: $tablet-width) {
      margin-top: 46px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 43px;
    }
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 78px;
    padding-top: 14px;
    padding-right: 126px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 0;
    padding-right: 0;
  }
}
