.catalog__list {
  border-top: $border-line-ligter-grey;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    width: max-content;
    margin: 0 auto;
    border: none;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}

.catalog__item {
  border-bottom: 1px solid $border-lighter-grey;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.catalog__item-content {
  display: grid;
  grid-template-rows: min-content min-content min-content;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 0 38px;
    width: 324px;
    margin-bottom: 81px;
    background-color: $basic_grey;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin-bottom: 61px;
  }
}

.catalog__image {
  grid-column: 1/2;
  grid-row: 1/3;
}

.catalog__image-product {
  margin-top: 19px;
}

.catalog__title {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $form-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.catalog__index {
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    color: $special_dark-grey;
  }
}

.catalog__group {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding-top: 7px;
    padding-bottom: 9px;
    border-bottom: $border-input-hover;
  }
}

.catalog__button {
  grid-row: 3/4;
  grid-column: 1/3;
  width: 100%;
  margin-bottom: 14px;
  color: $white;

  @media (min-width: $tablet-width) {
    width: 248px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
  }

  &:hover,
  &:focus {
    background-color: $darker-green;
  }

  &:active {
    color: $white-opacity-30;
  }
}

//product-else

.product-else {
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 35px;
    width: 324px;
    height: 429px;
    border: $border-line-fit-grey;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.product-else__title {
  position: relative;
  padding-top: 70px;
  font-size: 16px;
  line-height: 20px;
  color: $black-text;
  text-transform: uppercase;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 35px;
    left: 90px;
    width: 30px;
    height: 2px;
    background-color: $grey;
  }

  &::after {
    transform: rotate(90deg);
  }

  @media (min-width: $tablet-width) {
    padding-top: 109px;
    font-size: 20px;
    line-height: 22px;

    &::before,
    &::after {
      width: 60px;
    }
  }
}

.product-else__description {
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
  }
}

.product-else__button {
  margin-bottom: 5px;
  padding: 20px 94px;
  height: 60px;
  font-size: 16px;
  color: $special_dark-grey;
  background-color: $basic_grey;

  @media (min-width: $tablet-width) {
    padding: 10px 79px;
    width: 249px;
    height: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    padding: 10px 39px;
  }
}
