.product-else {
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 35px;
    width: 324px;
    height: 429px;
    border: $border-line-fit-grey;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.product-else__title {
  position: relative;
  padding-top: 70px;
  font-size: 16px;
  line-height: 20px;
  color: $black-text;
  text-transform: uppercase;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 35px;
    left: 140px;
    width: 30px;
    height: 2px;
    background-color: $grey;
  }

  &::after {
    transform: rotate(90deg);
  }

  @media (min-width: $tablet-width) {
    padding-top: 109px;
    font-size: 20px;
    line-height: 22px;

    &::before,
    &::after {
      width: 60px;
      left: 100px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before,
    &::after {
      left: 50px;
    }
  }
}

.product-else__description {
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
  }
}

.product-else__button {
  margin-bottom: 25px;
  padding: 10px;
  font-size: 16px;
  color: $special_dark-grey;
  background-color: $basic_grey;

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}
