.product-else {
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 35px;
    max-width: 324px;
    min-height: 429px;
    border: $border-input-hover;
  }

  @media (min-width: $desktop-width) {
    max-width: 245px;
  }
}

.product-else__title {
  position: relative;
  padding-top: 77px;
  font-size: 16px;
  line-height: 20px;
  color: $black-text;
  text-transform: uppercase;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 38px;
    left: 125px;
    width: 30px;
    height: 2px;
    background-color: $grey;

    @media (min-width: $tablet-width) {
      width: 60px;
      top: 54px;
      left: 44px;
    }

    @media (min-width: $desktop-width) {
      top: 48px;
      left: 46px;
    }
  }

  &::after {
    transform: rotate(90deg);
  }

  @media (min-width: $tablet-width) {
    padding-top: 134px;
    width: 149px;
    max-width: 100%;
    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 126px;
  }
}

.product-else__description {
  padding-top: 8px;
  padding-bottom: 20px;
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-left: 24px;
    padding-right: 22px;
    margin-top: -39px;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
    margin-top: -39px;
  }
}

.product-else__button {
  margin-bottom: 25px;
  padding: 10px;
  font-size: 16px;
  color: $special_dark-grey;
  background-color: $basic_grey;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding: 14px 44px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    padding: 12px 39px;
  }
}
